numpy
pandas
geopandas>1.0
pyarrow # deptry: ignore - indirect dependency for pandas parquet support
pygmt
xarray
scipy
shapely
qcore @ git+https://github.com/ucgmsim/qcore.git
pytest
pytest-cov
pooch
tqdm
netcdf4 # deptry: ignore - indirect dependency for xarray
